.navbar{
    background-color: #2C323D;
    padding: 30px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo{
    width: 100%;
    max-width: 70.38px;
}

#menubtn{
    display: none;
    padding: 5px;
    height: 36px;
    background-color: transparent;
    color: #64FFDA;
    border: none;
}

.navList{
    list-style: none;
    display: flex;
}

.navLink{
    font-weight: 400;
    font-size: 16px;
    color: #64FFDA;
    text-decoration: none;
    padding: 5px 20px;
    border-right: 1px solid #64FFDA;
    transition: all 1s ease;
    outline: none !important;
}

.navItem:last-child > .navLink{
    padding-right: 0;
    border: none;
}

.navLink:hover{
    padding-right: 25px !important;
    border: 1px solid #64FFDA !important;
}


/* -------------------------------------------- */

@media only screen and (max-width: 767px) {
  .logo{
      max-width: 50px;
  }
  #menubtn{
      display: block;
  }
  .navList{
      width: 100%;
      flex-direction: column;
      transition: all 1s ease;
      padding: 20px 0;
  }


  .NavListToggle{
       height: 0;
       overflow: hidden;
       padding: 0;
  }

  .navItem{
      padding: 15px 0;
  }

  .navLink{
      border: none;
      width: 100%;
  }
}